<div class="toolbar">
    <mat-toolbar color="primary">
        <span>Modulo de juegos</span>
    </mat-toolbar>
</div>

<div class="options">
    <div class="play">
        <button mat-fab extended color="primary" routerLink="/gamelist">
            <mat-icon>play_circle_filled</mat-icon>
            Jugar
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="info">
        <button mat-fab extended color="primary">
            <mat-icon>info</mat-icon>
            Informacion
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="developer">
        <button mat-fab extended color="primary" routerLink="/developer">
            <mat-icon>developer_mode</mat-icon>
            Desarrollador
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="version">
        <button mat-fab extended color="primary">
            <mat-icon>devices</mat-icon>
            Version
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="exit">
        <button mat-fab extended color="warn">
            <mat-icon>close</mat-icon>
            Salir
        </button>
    </div>
</div>