.master{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont{
    background-color: gainsboro;
    border-radius: 20px;
    margin-top: 3em;
}

mat-tab{
}

.dmn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

img{
    max-width: 300px;
    max-height: 300px;

}

mat-toolbar > *{
    margin-left: 2em;
}