<div class="toolbar">
    <mat-toolbar color="primary">
        <span>Piedra, papel, tijeras</span>
        <button mat-flat-button routerLink="/home">Back to home</button>
        <button mat-flat-button routerLink="/gamelist">Back to games</button>
    </mat-toolbar>
</div>
<!-- No he conseguido averiguar por que en este modulo la toolbar esta centered,
algo hay claramente mal configurado, pero no he sido capaz de encontrarlo -->
<div class="master">
    <div class="main">
        <div class="IA">
            <div class="lives">
                <img *ngFor="let _ of [].constructor(scoreIA)" [src]="images[3]"/>
            </div>
            <div class="imgdiv">
                <img [hidden]="!imgpick" [src]="images[pickIA]"/>
            </div>
        </div>
        <h1>{{msg}}</h1>
        <div class="Player">
            <div class="lives">
                <img *ngFor="let _ of [].constructor(scoreP1)" [src]="images[3]"/>
            </div>
            <div class="imgdiv">
                <img [hidden]="!imgpick" [src]="images[pick]"/>
            </div>
            <div class="input">
                <button mat-stroked-button color="basic" (click)="userPick(1)" *ngIf="playing">Piedra</button>
                <button mat-stroked-button color="basic" (click)="userPick(2)" *ngIf="playing">Papel</button>
                <button mat-stroked-button color="basic" (click)="userPick(3)" *ngIf="playing">Tijera</button>
            </div>
        </div>
    </div>
</div>
