<div class="master">
    <h1> {{msg}} </h1>
    <div class="board">
        <div class="content" *ngFor="let column of [].constructor(6); let c = index;">
            <button [disabled]="full[c]" mat-fab color="primary" (click)="insert(c)">
                <mat-icon>arrow_downward</mat-icon>
            </button>
            <div class="column" *ngFor="let row of [].constructor(7); let r = index">
                <div class="hole" [style.background-color]="holes[c][r]"></div>
            </div>
        </div>
    </div>
    <button [disabled]="!win" mat-fab color="primary" (click)="restart()">
        <mat-icon>refresh</mat-icon>
    </button>
</div>
