<div class="toolbar">
    <mat-toolbar color="primary">
        <span>Lista de juegos</span>
    </mat-toolbar>
</div>
<div class="home">
<button mat-fab color="primary" class="home" routerLink="/home">
    <mat-icon>home</mat-icon>
</button>

<div class="master-center">
    <div class="master">
        <div class="options">
            <div class="play">
                <button mat-fab extended color="primary" routerLink="/sprgame">
                    <img src="https://svgsilh.com/svg/97585-ffffff.svg" width="30px" height="30px">
                </button>
            </div>
        </div>
        <div class="options">
            <div class="info">
                <button mat-fab extended color="primary" routerLink="/tttgame">
                    <img src="https://svgsilh.com/svg/477229-ffffff.svg" width="30px" height="30px">
                </button>
            </div>
        </div>
        <div class="options">
            <div class="developer">
                <button mat-fab extended color="primary" routerLink="/developer">
                    <img src="https://svgsilh.com/svg/151558-ffffff.svg" width="30px" height="30px">
                </button>
            </div>
        </div>
        <div class="options">
            <div class="version">
                <button mat-fab extended color="primary">
                    <img src="https://svgsilh.com/svg/297656-ffffff.svg" width="30px" height="30px">
                </button>
            </div>
        </div>
        <div class="options">
            <div class="exit">
                <button mat-fab extended color="primary">
                    <img src="https://svgsilh.com/svg_v2/2092882-ffffff.svg" width="40px" height="40px">
                </button>
            </div>
        </div>
        <div class="options">
            <div class="exit">
                <button mat-fab extended color="primary">
                    <img src="https://svgsilh.com/svg/159364-ffffff.svg" width="30px" height="30px">
                </button>
            </div>
        </div>
    </div>
</div>