<div class="toolbar">
    <mat-toolbar color="primary">
        <span>Lista de juegos</span>
        <button mat-flat-button routerLink="/home">Back to home</button>
    </mat-toolbar>
</div>
<div class="home">
    <div class="master-center">
        <div class="master">
            <div class="options">
                <div class="play">
                    <button mat-fab extended color="primary" routerLink="/sprgame">
                        <p>Piedra, papel, tijera</p>
                        <img src="https://svgsilh.com/svg/97585-ffffff.svg" width="20px" height="30px">
                    </button>
                </div>
            </div>
            <div class="options">
                <div class="info">
                    <button mat-fab extended color="primary" routerLink="/tttgame">
                        <p> Tres en raya </p>
                        <img src="https://svgsilh.com/svg/146131-ffffff.svg" width="20px" height="30px">
                    </button>
                </div>
            </div>
            <div class="options">
                <div class="developer">
                    <button mat-fab extended color="primary" routerLink="/mswgame">
                        <p> Buscaminas </p>
                        <img src="https://svgsilh.com/svg/37077-ffffff.svg" width="20px" height="30px">
                    </button>
                </div>
            </div>
            <div class="options">
                <div class="version">
                    <button mat-fab extended color="primary" routerLink="/cofgame">
                        <p> Conecta </p>
                        <img src="https://svgsilh.com/svg/2052105-ffffff.svg" width="20px" height="30px">
                    </button>
                </div>
            </div>
            <div class="options">
                <div class="exit">
                    <button mat-fab extended color="primary" routerLink="/refgame">
                        <p>Mide tus reflejos</p>
                        <img src="https://svgsilh.com/svg/2126879-ffffff.svg" width="20px" height="40px">
                    </button>
                </div>
            </div>
            <div class="options">
                <div class="exit">
                    <button mat-fab extended color="primary" routerLink="/gachagame">
                        <p>Tragaperras</p>
                        <img src="https://svgsilh.com/svg/1314937-ffffff.svg" width="20px" height="30px">
                    </button>
                </div>
            </div>
        </div>
    </div>