<div class="toolbar">
    <mat-toolbar color="primary">
        <span>Mide tus reflejos</span>
        <button mat-flat-button routerLink="/home">Back to home</button>
        <button mat-flat-button routerLink="/gamelist">Back to games</button>
    </mat-toolbar>
</div>
<div class="master">
    <div class="game">
        <p>Haz click en el verde lo antes posible para ver tu tiempo de reaccion.</p>
        <div [style.background-color]="currentColor" class="react" (click)="reaction()">
            <p>{{msg}}</p>
        </div>
    </div>
</div>