<div class="home">
<button mat-fab color="primary" class="home" routerLink="/home">
    <mat-icon>home</mat-icon>
</button>
</div>
<div class="cv">
    <div class="personalinfo">
        <p class="name"><b>Carlos</b> Manso Gonzalez</p>
        <p class="tel">+34 663 14 87 97</p>
        <p class="location">Oviedo, Asturias.</p>
    </div>

    <div class="estudios">
        <div class="">
            <p class="dam">CFGS Desarrollo de Aplicaciones Multiplataforma</p>
            <p>IES Dr Fleming, Asturias. 2022-2024</p>
        </div>
        <div class="">
            <p class="cae">Certificate of Advanced English</p>
            <p>CEIPA, Asturias. 2021</p>
        </div>
        <div class="">
            <p class="icti">CFGS Ilumacion Captacion y Tratamiento de Imagen</p>
            <p>IES Aramo, Asturias. 2018-2020</p>
        </div>
    </div>

    <div class="workexp">
        <div class="">
            <p class="mob">Mobentis Multisoft</p>
            <p>Desarrollador Junior. Marzo 2023 - Actualidad</p>
        </div>
        <div class="">
            <p class="av">Varias empresas</p>
            <p>Operador de camara, realizador, fotografo</p>
        </div>
    </div>

    <div class="skills">
        <div class="">
            <p class="pro">Experiencia profesional:</p>
            <p><b>Lenguajes:</b> Python, Java, PHP, SQL</p>
            <p><b>Frameworks y herramientas:</b> Linux, FastAPI, Docker, Git</p>
        </div>
        <div class="">
            <p class="mid">Conocimientos previos:</p>
            <p><b>Lenguajes:</b> C#, Rust, C, C++, TypeScript, Shell, BASH,
                Dart</p>
            <p><b>Frameworks y herramientas:</b> Selenium, LaTeX, Markdown,
                PL/SQL, Swing, Flutter, Angular</p>
        </div>

    </div>
</div>
